<form class="form-horizontal">

    <div class="form-group">
        <label for="deviceLabel" class="col-sm-2 control-label">Rule Label</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ruleLabel" placeholder="Label" data-ng-model="rule.label">
        </div>
    </div>

    <div class="form-group">
        <label for="deviceLabel" class="col-sm-2 control-label">Conditions</label>
        <div class="col-sm-10" data-ng-repeat="condition in rule.conditions">
            <div class="col-sm-3">
                <select class="form-control" data-ng-model="condition[0]" data-ng-options="entity.key as entity.label for entity in $parent.getDeviceAndSensors()"></select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" data-ng-model="condition[1]" data-ng-options="operator.key as operator.label for operator in $parent.operators"></select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" data-ng-model="condition[2]" />
            </div>
            <div class="col-sm3">
                <button class="btn btn-danger" data-ng-click="deleteCondition($index)">X</button>
            </div>
        </div>
        <button class="btn btn-primary" data-ng-click="addCondition()">Add</button>
    </div>

    <input type="hidden" data-ng-model="rule.id" />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-success" data-ng-click="save()">Save</button>
        </div>
    </div>
</form>