<form class="form-horizontal">

    <div class="form-group">
        <label for="sensorLabel" class="col-sm-2 control-label">Sensor Label</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sensorLabel" placeholder="Label" data-ng-model="sensor.label">
        </div>
    </div>

    <div class="form-group">
        <label for="sensorPin" class="col-sm-2 control-label">Sensor Analog Pin</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sensorPin" placeholder="Pin" data-ng-model="sensor.pin">
        </div>
    </div>

    <input type="hidden" data-ng-model="sensor.id" />

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" data-ng-click="save()">Save</button>
        </div>
    </div>
</form>