<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Sensor</th>
            <th>Reading</th>
            <th>Analog Pin</th>
            <th width='150px'>Value</th>
            <th width='150px'></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="sensor in sensors">
            <td>{{ sensor.id }}</td>
            <td>{{ sensor.label }}</td>
            <td>{{ $parent.sensor_values[sensor.id] }}</td>
            <td>{{ sensor.pin }}</td>
            <td>
                <a class="btn btn-default" data-ng-click="sensorRead( $index )">Read</a> &nbsp &nbsp {{ sensor.value }}
            </td>
            <td>
                <a class="btn btn-info" href="#/sensor/{{ sensor.id }}">Edit</a>
                <button class="btn btn-danger" data-ng-click="deleteSensor($index)">Delete</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <a class="btn btn-default pull-right" href="#/sensor/0">Add</a>
            </td>
        </tr>
    </tfoot>
</table>
